<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Halloween 2022 - microban game clone</title>
		<link rel="stylesheet" href="/css/style.css" />
		<% if (user) { %>
			<script>
				window.globalUser = <%- JSON.stringify(user) %>;
			</script>
		<% } %>
	</head>

	<body>
		<main class="main">
			<div class="wrapper">
				<div>
					<div class="transition">
						<svg
							id="transition"
							width="2683"
							height="1317"
							viewBox="0 0 2683 1317"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M1341.5 1315.5L1021.5 1020.5L1.5 0.5H774.5L1341.5 567.5L1908.5 0.5H2681.5L1661.5 1020.5L1341.5 1315.5Z"
								fill="black"
							/>
						</svg>
					</div>
					<div class="window" id="flag">
						<h1>Flags</h2>
						<div></div>
					</div>
					<div class="window" id="scoreboard">
						<h1>Scoreboard</h2>
						<div></div>
					</div>
					<div class="window" id="shop">
						<h1>Shop</h2>
						<p id="shoppumpkin">???</p>
						<div class="skins">
							<button class="skin-btn selected"></button>
							<button class="skin-btn"></button>
							<button class="skin-btn"></button>
							<button class="skin-btn"></button>
						</div>
						<div class="shop">
							<button class="shop-btn" id="buyskin">Buy</button>
							<button class="shop-btn" id="useskin">Use</button>
						</div>
					</div>
					<div class="window" id="levels">
						<h1>Levels</h2>
						<div class="normal-levels">
							<button class="level-btn">1</button>
							<button class="level-btn">2</button>
							<button class="level-btn">3</button>
							<button class="level-btn">4</button>
							<button class="level-btn">5</button>
							<button class="level-btn">6</button>
							<button class="level-btn">7</button>
							<button class="level-btn">8</button>
							<button class="level-btn">9</button>
							<button class="level-btn">10</button>
						</div>
						<div class="bonus-levels">
							<button class="level-btn">11</button>
							<button class="level-btn">12</button>
							<button class="level-btn disabled">13</button>
						</div>
					</div>
					<div class="navigation">
							<button class="menu-btn"></button>
							<button class="reset-btn" id="reset"></button>
					</div>
					<div class="navigation right" id="navigationRight">
							<button class="shop-btn"></button>
							<button class="scoreboard-btn"></button>
							<button class="flag-btn"></button>
					</div>
					<canvas id="canvas" width="640" height="420"></canvas>
				</div>
			</div>
		</main>
		<script type="module" src="/js/main.js"></script>
	</body>
</html>
