<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Halloween 2022 - index</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
		<main class="main">
			<div class="index">
				<img class="title" src="/images/title.png" alt="title" />
				<a href="/game">
					<button class="index-btn">Play</button>
				</a>
			</div>
		</main>
	</body>
</html>
