* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.wrapper > div {
	position: relative;
	overflow: hidden;
	width: 640px;
	height: 420px;
}

canvas {
	position: absolute;
	top: 0;
	background-color: #181526;
	width: 640px;
	height: 420px;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.transition {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
}
.transition svg {
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translate(-50%, -1400px);
}
